.container {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    width: 100px;
    border: none;
    padding: 16px;
    background-color:var(--mytextColor);
    color: white;
    cursor: pointer;
  }
  
  .button:disabled{
    background-color: #d84aff9e;
    cursor: not-allowed;
  }